[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec="/usr/lib/electron31/electron" "/usr/lib/vesktop/app.asar" "env" "ELECTRON_OZONE_PLATFORM_HINT=auto"
StartupNotify=false
Terminal=false