[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec=/opt/vesktop-bin/vesktop
StartupNotify=false
Terminal=false
Icon=vesktop