* {
  font-family: "Arimo","SauceCodePro Nerd Font Mono","Togalite medium";
  font-size: 11pt;
  color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background: #1D2028;
  opacity: 0.85;
}

#window,
#memory,
#disk,
#pulseaudio,
#custom-weather,
#cpu {
  padding-left: 1rem;
  padding-right: 1rem;
}

#custom-weather {
  padding-left: 2rem;
  font-weight: bold;
}

#workspaces {
  background: #4287f5;
  color: white;
  font-weight: bold;
  border-radius: 0 0rem 0rem 0;
}

#workspaces button.active{
  background: #000000;
  color: white;
  font-weight: bold;
  border-radius: 0 0rem 0rem 0;
}
#workspaces button {
  font-size: 12pt;
  background: transparent;
}

#workspaces button.focused {
  background: #305fab;
  border-radius: 0rem;
}